
<!-- Il resto del contenuto della pagina "Chi siamo" -->
  <div class="container-fluid home-container" >
    <div class="row">
      <h1 class="home-title animate-fade-in">Chi siamo</h1>
        <p class="home-text animate-fade-in">Benvenuti sull' Ambulatorio della Dottoressa Erica Dore! Siamo un team appassionato di animali che si impegna a fornire cure amorevoli e professionali per i vostri amici pelosi. Ci prendiamo cura di cani, gatti e altri animali domestici come se fossero parte della nostra famiglia.</p>
        <p class="home-text animate-fade-in">Presso l'Ambulatorio della Dottoressa Erica Dore, ci assicuriamo che i nostri servizi siano sempre all'avanguardia e che i nostri pazienti ricevano la migliore assistenza possibile. Siamo qui per rispondere a tutte le vostre domande e preoccupazioni riguardanti la salute e il benessere dei vostri animali domestici.</p>
        <p class="home-text animate-fade-in">Non vediamo l'ora di incontrarvi e di lavorare insieme per garantire una vita felice e sana ai vostri amici a quattro zampe!</p>
      <img src="assets/images/Dimensions-Animals-Cats-European-Burmese-Cat-Poses.svg" alt="Descrizione dell'immagine">
    </div>

  </div>