// Colori
$color-primary: #ff6906;
$color-secondary: #1ca0ac;
$color-background: #f0f0f0;
$color-text-primary: #333333;
$color-text-secondary: #6c757d;
$color-accent: #007bff;

$background-color-primary: #a5a5a5;

// Tipografia
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Roboto Slab', serif;
$font-size-base: 16px;
$font-size-heading: 1.5em;

// Spaziatura
$spacing-unit: 20px;
$border-radius: 5px;
