
<!-- Il resto del contenuto della pagina "Chi siamo" -->
<div class="container-fluid home-container" >
    <div class="row">
      <h1 class="home-title animate-fade-in">Medicina generale e preventiva</h1>
        <p class="home-text animate-fade-in">Prevenzione.</p>  
        <p class="home-text animate-fade-in">Accogliere un cucciolo od un gattino in famiglia è sicuramente un'esperienza che cambia la vita, portando entusiasmo e gioia in casa.
          Per il vostro piccolo nuovo amico è un momento della vita in cui la sua salute richiede maggiore attenzione.
          La prima visita dal veterinario vi confermerà che il piccolo sia in perfetta salute, ma sopratutto vi dovrebbe dare le linee guida per assicurargli, in futuro, una vita il più sana, lunga e felice possibile.
          Durante il nostro primo incontro il cucciolo verrà visitato in maniera approfondita, verranno controllati i denti, le orecchie, gli occhi, l’apparato genitale e gli verrà auscultato il cuore per escludere eventuali problemi congeniti non visibili.
          Alla prima visita è buona cura portare un campione di feci e, magari, scrivere tutto ciò che volete domandarci sul vostro nuovo amico. Vi verrà indicato un programma vaccinale, che potrà variare in base alla specie ed all’eta (vedi vaccinazioni), ed un protocollo completo per i parassiti interni.
          Vi consiglieremo tipologia e modalità di somministrazione dei prodotti necessari alla prevenzione, per gli anni a venire, di infestazioni da pulci, zecche, acari, filariosi, leishmaniosi, ecc.., oltre a consigli per una alimentazione adatta al cucciolo ed alle vostre esigenze.
          Da noi è possibile, inoltre, applicare al cucciolo il microchip, mediante una semplice iniezione sottocutanea, ricordandovi che nel cane e obbligatorio per legge..</p>   
      <img src="assets/images/Dimensions-Animals-Cats-European-Burmese-Cat-Poses.svg" alt="Descrizione dell'immagine">
    </div>

  </div>