<!-- Il resto del contenuto della pagina "Chi siamo" -->
<div class="container-fluid home-container">
    <div class="row">
        <h1 class="home-title animate-fade-in">Contattaci</h1>
        <p>Se hai bisogno di assistenza o informazioni aggiuntive, non esitare a contattarci. Siamo qui per aiutarti!
        </p>
        <p>Puoi contattarci telefonicamente al <a href="tel:+393881243582">+39 3881243582</a>
        <p>Puoi utilizzare il nostro servizio WhatsApp cliccando <a href="https://wa.me/3881243582">qui</a>.</p>
    </div>
    <div class="row mt-3">
        <h1 class="home-title animate-fade-in">Orari</h1>
        <p>Lun - Ven: 09:30 - 12:30 | 16:30 - 18:30</p>
        <img src="assets/images/Dimensions-Animals-Dogs-Weimaraner-Outlines.svg" alt="Descrizione dell'immagine">
    </div>

    <div class="row mt-3">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12105.887089905436!2d8.7464711!3d40.663573!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12dc694c34d8e18f%3A0x9c9b63fc7db37ac4!2sDott.ssa%20Erica%20Dore%20Medico%20Veterinario!5e0!3m2!1sit!2sit!4v1716374987012!5m2!1sit!2sit"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>