/* You can add global styles to this file, and also import other style files */
@import './styles/design-tokens';
@import './styles/global-styles';

html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1 0 auto;
  }
  
  .footer {
    flex-shrink: 0;
  }